@use '../../../scss/variables';

.summary {
    margin: 2rem 0;

    p {
        color: variables.$primary-dark;
        font-weight: 500;
    }

    & ul {
        list-style: none;
        margin-left: 0;
        padding-left: 1rem;
        text-indent: -1rem;
    }

    & li {
        line-height: 1.6;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:before {
            content: "✹ ";
        }
    }

    & span {
        color: variables.$primary-dark;
        font-weight: 500;
        padding: 0.5rem;
        margin-left: 1rem;
    }
}