@use '../../../scss/variables';

@mixin selectButton {
    border-radius: 8px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.selectButton {
    background-color: variables.$primary;
    color: variables.$white;
    @include selectButton();
}

.activeSelectButton {
    background-color: variables.$primary-dark;
    color: variables.$light;
    box-shadow: 1px 1px 4px variables.$gray;
    @include selectButton();
}

.selectButton:clicked {
    border: 1px solid variables.$white;
}

