@use '../../scss/variables';

.container {
    width: 90vw;
    max-width: 1000px;
    min-height: 100vh;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;

}

@media screen and (max-width: variables.$large) {
    .container {
        padding-left: 0.5rem;
    }
}

.smallVirus {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.bigVirus {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

@media screen and (max-width: variables.$small){
    .bigVirus {
        width: 90vw;
    }
}

.displayData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

@media screen and (max-width: variables.$large) {
    .displayData {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
