@use '../../scss/variables';

.heading {
    padding: 1rem 0;
    width: 100%;

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.625rem;
        margin: 0.5rem 0;
        color: #39A6A3;
    }

    h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0.5rem 0;
        color: #231E23;
    }
}
