@use '../../scss/variables';

.controls > *{
    margin: 1rem 0;
}

.realControls {
    border: 1px solid #c5c5c5;
    border-radius: variables.$borderRadius;
    padding: 1rem;
    background: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: variables.$middle){
    .realControls{
        width: 500px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media screen and (max-width: variables.$small){
    .realControls{
        width: 80vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}
