.controls > *{
    margin: 1rem 0;
}

.realControls {
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 1rem;
    background: rgba(0,0,0,0.05);
}

.input {
    width: 56px;
    padding-left: 0.5rem;
}