@use './scss/variables';

.App {
  text-align: center;
  position: relative;

  font-family: 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  color: variables.$dark;
  font-size: 16px;
}

@media screen and (max-width: 575px){
  .App {
    font-size: 14px;
  }
}
