@use './scss/variables';

.App {
  text-align: center;
  position: relative;
  height: 100%;

  font-family: 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  color: variables.$dark;
  font-size: 16px;
}


@media screen and (max-width: variables.$small){
  .App {
    font-size: 14px;
  }
}

@media screen and (min-height: 800px){
  .App {
    height: 100vh;
  }
}

